<%
local support = require "luci.model.cbi.bypass2ray.support"
-%>
<script type="text/javascript">
	//<![CDATA[
	function clearlog(btn) {
		XHR.get('<%=support.url("clear_log")%>', null,
			function(x, data) {
				if(x && x.status == 200) {
					var log_textarea = document.getElementById('log_textarea');
					log_textarea.innerHTML = "";
					log_textarea.scrollTop = log_textarea.scrollHeight;
				}
			}
		);
	}
	XHR.poll(5, '<%=support.url("get_log")%>', null,
		function(x, data) {
			if(x && x.status == 200) {
				var log_textarea = document.getElementById('log_textarea');
				log_textarea.innerHTML = x.responseText;
			}
		}
	);
	function get_access_log() {
		window.open('<%=support.url("get_access_log")%>')
	}
	function get_error_log() {
		window.open('<%=support.url("get_error_log")%>')
	}
	//]]>
</script>
<fieldset class="cbi-section" id="_log_fieldset">
	<input class="btn cbi-button cbi-button-remove" type="button" onclick="clearlog()" value="<%:Clear logs%>" />
	<%
		local access_log_filename = support.get_access_log_filename()
		if access_log_filename ~= nil then
			print('<input class="btn cbi-button cbi-button-remove" type="button" onclick="get_access_log()" value="' .. "Show Access Log" .. '" />')
		end
	-%>
	<%
		local error_log_filename = support.get_error_log_filename()
		if error_log_filename ~= nil then
			print('<input class="btn cbi-button cbi-button-remove" type="button" onclick="get_error_log()" value="' .. "Show Error Log" .. '" />')
		end
	-%>
	<textarea id="log_textarea" class="cbi-input-textarea" style="width: 100%;margin-top: 10px;" data-update="change" rows="40" wrap="off" readonly="readonly"></textarea>
</fieldset>
